# Ignore all .log files
*.log

# Ignore all files in any directory named temp
temp/
Backup_postgres/
4.1/Backup_postgres/
PG/4.1/Backup_postgres/
Fast/Backup_postgres/
PG/Fast/Backup_postgres/
# Ignore all .log files
*.xml
.vscode/
PG/4.1/.vscode/
4.1/.vscode/
PG/Fast/.vscode/
Fast/.vscode/
POSTMAN/
PG/PY/
PY/
FB/
PG/GAS
